{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_installaddon/chooser_footer

    Activity chooser footer link to Marketplace.

    Example context (json):
    {
        "url": "https://marketplace.moodle.com/?site=...",
        "logo": "https://marketplace.moodle.com/assets/icons/MarketPlaceLogoTm-78753bf249261f16c97c4db0325a1d3d.svg"
    }
}}
<div class="w-100 d-flex px-2">
    <a
        class="d-inline my-auto me-1"
        href="{{url}}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{#str}} marketplacefooterlinkaria, tool_installaddon {{/str}}"
    >
        <img src="{{logo}}" alt="" class="icon me-1" />
        {{#str}} marketplacefooterlink, tool_installaddon {{/str}}
        <span aria-hidden="true">{{#pix}} i/externallink, core {{/pix}}</span>
    </a>
</div>

